$black: #111;
$charcoal: #222;
$darkgray: #2d2d2d;
$dimgray: #3a3a3a;
$gray: #666;
$lightgray: #999;
$silver: #ccc;
$white: #f3f3f3;
$lightblue: #def;
$blue: #3af;
$darkblue: #28e;
$font-sans: Inter, '-apple-system', BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-mono: 'Source Code Pro', Monaco, Consolas, monospace;
$header-height: 72px;
$sidebar-width: 320px;

* {
  font-family: $font-sans;
}

html {
  font-size: 14px;
}

body {
  color: $charcoal;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: $charcoal;
  width: 100%;
  height: $header-height;
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  flex: 1;

  & > * {
    max-height: calc(100vh - #{$header-height});
  }
}

.sidebar {
  width: 320px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  border-right: thin solid $silver;
}

.sidebar-tabs {
  display: flex;
  background: $white;
}

.sidebar-subheader {
  border-bottom: thin solid $silver;
  padding: 16px 16px 16px 24px;
  display: flex;
  align-items: center;

  button.-add {
    margin-left: 8px;
  }
}

.sidebar-search {
  background: $white;
  border: thin solid $silver;
  border-radius: 4px;
  color: $gray;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  flex: 1;

  &:focus-within {
    background: white;
    border-color: $blue;
    color: $blue;

    input::placeholder {
      color: $lightgray;
    }
  }

  input {
    outline: 0;
  }

  .icon {
    margin-right: 8px;
  }
}

.tab {
  flex: 1;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
  border: thin solid transparent;

  &.-active {
    background: white;
  }

  &:not(.-active) {
    cursor: pointer;
    color: $lightgray;
    border-bottom-color: $silver;

    &:first-child {
      border-right-color: $silver;
    }

    &:last-child {
      border-left-color: $silver;
    }
  }
}

.sidebar-entries {
  padding: 12px 0;
  flex: 1;
  overflow-y: auto;
}

.entry {
  display: flex;
  align-items: center;
  padding: 4px 2rem;

  &:hover {
    cursor: pointer;
    background: $white;
  }

  &.-select {
    background: $lightblue;
    color: $blue;
    font-weight: bold;

    &:hover {
      background: #cdf;
    }

    .entry-thumb {
      background: white;
      border-color: $blue;
    }
  }
}

.entry-thumb {
  background: $white;
  border: thin solid $silver;
  border-radius: 4px;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-thumb canvas {
  max-width: 4rem;
  max-height: 4rem;
}

.sidebar-footer {
  border-top: thin solid $silver;
  padding: 8px 1rem;
  display: flex;
  justify-content: flex-end;
}

.sidebar-footer .button + .button {
  margin-left: 8px;
}

#editor {
  background: #e5e5e5;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  padding: 1rem 0 2rem;
}

#editor canvas {
  border: thin solid $lightgray;

  box-shadow: 0 8px 24px rgba(black, 0.25);
}

.button {
  background: $blue;
  color: white;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 0.75em 1.5em;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: 0;
  display: flex;
  align-items: center;
  transition: 0.125s background,
              0.125s color,
              0.125s border;
}

.button .icon {
  margin-left: -0.125em;
  margin-right: 0.25em;
}

.button:hover {
  cursor: pointer;
  background: $darkblue;
}

.button:focus-within, .button:focus {
  border-color: white;
}

.button[disabled] {
  background: $white;
  color: $lightgray;

  &:hover {
    cursor: default;
  }
}

#upload {
  width: 0;
}

.upload-text {
  color: $lightgray;
  font-size: 0.875em;
  text-align: center;
  display: block;
  margin-top: 8px;
}
