$charcoal: #333;
$gray: #666;
$lightgray: #999;
$silver: #ccc;
$smoke: #e8e8e8;
$white: #f3f3f3;
$lightblue: #def;
$skyblue: #cdf;
$blue: #68e;
$darkblue: #36d;
$font-sans: Inter, '-apple-system', BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-mono: 'Source Code Pro', Monaco, Consolas, monospace;
$header-height: 72px;
$sidebar-left-width: 320px;
$sidebar-right-width: 240px;

* {
  font-family: $font-sans;
}

html {
  font-size: 14px;
}

body {
  user-select: none;
  color: $charcoal;
}

.icon.-button {
  cursor: pointer;
  outline: 0;

  &:hover {
    background: $smoke;
    border-radius: 4px;
  }
}

button {
  cursor: pointer;
}

canvas {
  image-rendering: pixelated;
}

.icon.-small {
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}
