.editor {
  background: $smoke;
  overflow: hidden;
  position: relative;
  flex: 3;
}

.editor canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0 0;
  border: thin solid $gray;
  box-shadow: 0 8px 16px rgba(black, 0.25);
}

.editor canvas.-adjust {
  transition: 250ms transform;
}

.editor:hover {
  cursor: grab;
}

.editor.-hover {
  cursor: pointer;
}

.editor.-pan {
  cursor: grabbing;
}
