.editor-wrap {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.editor-toolbar {
  background: white;
  border-bottom: thin solid $silver;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    display: flex;
    align-items: center;
  }
}

.editor-tools .tool + .tool {
  margin-left: 8px;
}

.editor-zoom .input-wrap {
  cursor: text;
  border: thin solid $silver;
  padding: 4px 8px;
  margin: 0 8px;

  input {
    outline: 0;
    position: absolute;
    max-width: 72px;
  }

  span {
    opacity: 0;
  }

  &:focus-within {
    border-color: $blue;
  }
}

.editor.-sprites {
  canvas {
    border: thin solid $gray;
    box-shadow: 0 8px 16px rgba(black, 0.25);
    left: 50%;
    top: 50%;
  }
}
