.editor {
  background: $smoke;
  overflow: hidden;
  position: relative;
  flex: 3;
}

.editor canvas {
  position: absolute;
  transform-origin: 0 0 0;
}

.editor canvas.-adjust {
  transition: 250ms transform;
}

.editor:hover {
  cursor: grab;
}

.editor.-hover {
  cursor: pointer;
}

.editor.-pan {
  cursor: grabbing;
}
