.panel.-sprites {
  background: $white;
  flex: 2;
  display: flex;
  flex-direction: column;

  .panel-content {
    overflow: auto;
    position: relative;
    flex: 1;
  }

  .thumbs {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 16px 0;
  }
}
