$banner-height: 56px;

.panel.-sprites {
  background: $white;
  border-right: thin solid $silver;
  flex: 1;
  display: flex;
  flex-direction: column;

  .panel-content {
    overflow: auto;
    position: relative;
    flex: 1;
  }

  .thumbs {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 16px 0 calc(16px + #{$banner-height});
  }

  .banner {
    user-select: none;
    background: $blue;
    color: white;
    font-weight: bold;
    padding: 0 24px;
    margin-top: -$banner-height;
    margin-right: 15px;
    height: $banner-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    &.-enter {
      animation: 250ms banner-enter ease-out;
    }

    &.-exit {
      animation: 125ms banner-enter ease-in reverse;
    }

    button {
      background: white;
      color: $blue;
      padding: 8px 24px;
      border-radius: 4px;
    }
  }
}

.panel.-sprites.-min .banner {
  display: none;
}

@keyframes banner-enter {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
