.panel {
  position: relative;
  overflow: hidden;
}

.panel-header {
  background: white;
  border-bottom: thin solid $silver;
  font-weight: bold;
  height: 48px;
  line-height: 1;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-section {
  font-size: 12px;
  padding: 16px 0;
  margin: 0 24px;

  &.-inline {
    display: flex;
  }

  .section-key {
    font-weight: bold;
    width: 50%;
  }

  .section-value .units {
    color: $lightgray;
  }

  .section-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    margin-top: 8px;
    width: 90%;
  }

  .section-field {
    cursor: text;
  }

  .section-field:not(.-inline) {
    display: flex;
    padding: 8px 12px;
    border: thin solid transparent;

    &:hover {
      border-color: $silver;
    }

    &:focus-within {
      border-color: $blue;
    }
  }

  .section-field.-inline {
    display: block;
    margin: -8px -12px;
    border: 12px solid transparent;
    border-top-width: 8px;
    border-bottom-width: 8px;

    &:hover {
      box-shadow: 0 0 0 1px $silver;
    }

    &:focus-within {
      box-shadow: 0 0 0 1px $blue;
    }

    input.field-value {
      position: absolute;
    }

    span.field-value {
      opacity: 0;
    }
  }

  .field-key {
    color: $lightgray;
    width: 24px;
  }

  input.field-value {
    width: 32px;
    outline: 0;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & + .panel-section {
    border-top: thin solid silver;
  }
}

.panel.-min {
  cursor: pointer;
  flex: none;
}

.panel.-sprites.-min, .panel.-props.-min {
  writing-mode: vertical-rl;
  text-orientation: mixed;

  .panel-header {
    border-bottom: none;
    width: 48px;
    height: 100%;
    transform: rotate(180deg);
    justify-content: flex-end;
  }

  .icon {
    margin: 8px 0 16px;
  }
}
