$thumb-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAApklEQVR4Xu3WQQ0AIQADQdCEWjyBpjsZ+2AwQEJoO3Pv/Y3wrLXC28eYHsAPEAEdULaQErQCZrBMIAeAEAmSIAmSYLlDJEiCJFgmkARJkARJkARJsNwhEiRBEiwTSIIk+LwEzzmpA+69bQd4AD9ABHRA2UJK0AqYwTKBY3IAB3AAB5QtxAEcwAFlAjkAhEiQBEmQBMsdIkESJMEygSRIgiRIgm9L8AfNACXwHHdRTwAAAABJRU5ErkJggg==) #ccc;
$thumb-size: 64px;

.thumb {
  cursor: pointer;
  background: $thumb-bg;
  border: thin solid $gray;
  border-radius: 4px;
  width: $thumb-size;
  height: $thumb-size;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.thumb canvas {
  max-width: $thumb-size;
  max-height: $thumb-size;
  position: relative;
  z-index: 1;
}

.thumb.-select {
  border-color: $blue;
  box-shadow: 0 0 0 1px $blue;

  &::before {
    content: '';
    display: block;
    background: rgba($blue, 0.25);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
