@import './timeline-controls';

.panel.-timeline {
  background: $white;
  border-top: thin solid $silver;
  flex-basis: 40vh;

  table {
    border-spacing: 0;
  }

  table::after {
    content: '';
    display: table-cell;
    background: white;
    height: 40vh;
    border-top: thin solid $silver;
    border-right: thin solid $silver;
  }

  .frame-number span {
    color: $lightgray;
    border: thin solid $silver;
    border-radius: 4px;
    width: $thumb-size;
    line-height: 24px;
    margin-left: 4px;
    text-align: center;
    display: block;
  }

  .frame-number:nth-child(2) span {
    margin-left: 12px;
  }

  .frame-number:last-child span {
    margin-right: 12px;
  }

  .frame:nth-child(2) {
    padding-left: 12px;
  }
}

.timeline-header, .timeline-track {
  & > *:first-child {
    background: white;
    border-right: thin solid $silver;
  }
}

.timeline-track {
  .track-name {
    border-top: thin solid $silver;
    padding: 0 24px;
    line-height: 80px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .icon {
      margin-right: 8px;
    }
  }

  .track-name.-add {
    color: $blue;

    &:hover {
      cursor: pointer;
      background: $lightblue;
    }
  }

  td:not(.track-name) {
    border-top: thin solid $silver;
  }

  .track-prompt {
    color: $lightgray;
    border: 2px dashed $silver;
    border-radius: 4px;
    line-height: calc(64px - 4px);
    margin: 0 12px;
    text-align: center;

    &.-focus {
      color: $blue;
      border-color: $blue;
      background: $lightblue;
    }
  }
}
