.overlay {
  background: rgba(black, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.window {
  background: white;
  color: $charcoal;
  border: thin solid $silver;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 360px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.window-header {
  border-bottom: thin solid $silver;
  padding: 12px 24px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.window-title {
  font-weight: bold;
}

.window-content {
  padding: 12px 24px 16px;
}

.window-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-toggle {
  color: $silver;
  display: flex;
}

.view-toggle .icon.-select {
  color: $blue;
}

.view-toggle .icon + .icon {
  margin-left: 8px;
}

.window-entrygrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}

.window-entries {
  background: $white;
  border: thin solid $silver;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 12px;

  .entry {
    border: thin solid transparent;
    border-radius: 4px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .entry:hover {
    background: $silver;

    .thumb {
      border-color: $lightgray;
    }
  }

  .entry.-select {
    background: $lightblue;
    color: $blue;
    border-color: $blue;

    &:hover {
      background: $skyblue;
    }

    .thumb {
      border-color: $blue;
    }
  }

  .entry-name {
    margin-top: 4px;
  }

  .thumb {
    background: white;
    border: thin solid $silver;
  }
}

.window-footer {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: 16px;

  button + button {
    margin-left: 8px;
  }
}
